@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

* {
    margin: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ADBC9F;
  color: #12372A;
}

#top {
    background-color: #12372A;
    margin: 0;
    padding: 1.5rem;
}

/* form, textarea and button */

.container {
    background-color: #436850;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#message-form {
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

input {
    border: none;
    border-radius: 10px;
    height: 35px;
    padding-left: 15px;
    padding: 10px 15px;
}

input::placeholder {
    padding: 5px;
    letter-spacing: 0.5px;
    color: #12372A;
}

textarea {
    resize: none;
    border-radius: 10px;
    padding: 10px 15px;
}

textarea::placeholder {
    padding: 5px;
    letter-spacing: -0.5px;
    color: #12372A;
}

#submit {
    border: none;
    border-radius: 10px;
    color: #12372A;
    width: 80px;
    height: 35px;
    cursor: pointer;
}

#submit:hover {
    background-color: #12372A;
    color: #ADBC9F;
}

/* messages */

.message-div {
    background-color: #12372A;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    max-width: 570px;
    width: 570px;
}

#message-list {
    background-color: #436850;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.username {
    color: #ADBC9F;
    background-color: #436850;
    padding: 5px 15px;
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
}

.username-message {
    background-color: white;
    color: #12372A;
    border-radius: 10px;
    margin: 10px;
    max-width: 570px;
    display: flex;
    gap: 10px;
    padding: 20px;
}

/* like and del */

.button-div {
    display: flex;
    flex-direction: row;
}

.del-button {
  background-image: url('./public/assets/del.png');
  background-size: cover;
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
  cursor: pointer;
}

.like-button {
    background-image: url('./public/assets/like.png');
    background-size: cover;
    width: 30px;
    height: 30px;
    border: none;
    outline: none;
    cursor: pointer;
  }

/* logo and meaning message when mouseover logo */

#mic-logo {
    width: 4rem;
    height: auto;
}

#logo {
    width: 180px;
}

#logoBox {
  position: relative;
  display: inline-block;
}

#meaning {
  position: absolute;
  font-family: 'Gochi Hand', sans-serif;
  font-size: 1.5rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  top: 45px;
  left: 280px;
  background-color: none;
  color: #ADBC9F;
  padding: 10px;

}

@media (max-width: 600px) {
    #meaning {
        display: none !important;
    }
}